/*
========================================================================================
    nf_deconvolution
========================================================================================
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

workDir =    "${projectDir}/work"
tmpDir =     "${projectDir}/tmp"

params{
    skip_preprocessing{
        value=false
        file__anndata_merged = ''
        file__cells_filtered = ''
    }
  input_data_table = ''

  //cellbender_deconvolution
  preprocess = true

  run_deconvolution = false

  output_dir = "${projectDir}/results"
  reportdir = "${projectDir}/reports"
  
  //Set this parameter to your e-mail address to get a summary e-mail with details of the run sent to you when the workflow exits. If set in your user config file (~/.nextflow/config) then you don't need to specify this on the command line for every run.
  email_on_complete=""
  //An email address to send a summary email to when the pipeline is completed - ONLY sent if the pipeline does not exit successfully.
  email_on_fail=""

  //nf-core
  // MultiQC options
    multiqc_config             = null
    multiqc_title              = null
    max_multiqc_email_size     = '25.MB'

    // References
    genome                     = null
    igenomes_base              = 's3://ngi-igenomes/igenomes'
    igenomes_ignore            = false

//includeConfig "./conf/cellbender.nf"

// Load cellbender params
includeConfig './conf/cellbender.config'

// Load base.config by default for all pipelines
includeConfig "${projectDir}/conf/base.conf"

includeConfig './conf/qc.conf'

// Load modules.config for DSL2 module specific options
includeConfig './conf/modules.config'
}

report {
  enabled = false
  file = "${params.reportdir}/report.html"
}

timeline {
  enabled = false
  file = "${params.reportdir}/timeline.html"
}

trace {
  enabled = false
  file = "${params.reportdir}/trace.txt"
}

profiles {
  lsf {
    includeConfig "${projectDir}/conf/lsf.conf"
    includeConfig "${projectDir}/conf/lsf_tasks.conf"
  }
  test {
    includeConfig "${projectDir}/conf/test_data.conf"
  }
  base{includeConfig "${projectDir}/conf/base.conf"}
}